name: Deploy Hugo site to Pages

on:
  push:
    branches: ["master"] # main 브랜치에 코드가 올라올 때 실행
  workflow_dispatch: # 이 한 줄을 추가하면 수동 실행이 가능해집니다!

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4 # GitHub에서 공식 제공하는 'checkout' 액션의 v4 버전을 사용
        with:
          submodules: recursive # Hugo 테마처럼 서브모듈로 추가된 파일도 함께 가져옵니다
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3 # 외부 개발자가 만든 Hugo 설정 액션 v3를 사용합니다
        with:
          hugo-version: 'latest'
          extended: true # 테마에 따라 extended 버전이 필요한 경우가 많습니다

      - name: Build with Hugo
        run: hugo --minify # public 폴더에 결과물을 생성합니다

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3 # 공식 'pages-artifact' 업로드 액션 v3를 사용합니다
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages # 배포 대상 환경이 'github-pages'임을 명시합니다. GitHub 설정의 "Pages" 메뉴와 연결됩니다.
      url: ${{ steps.deployment.outputs.page_url }} # 배포가 완료된 후 웹사이트 주소를 워크플로우 요약 정보에 표시합니다.
    runs-on: ubuntu-latest
    needs: build # 이 작업은 'build' 작업이 성공적으로 완료된 후에만 실행됩니다
    steps:
      - name: Deploy to GitHub Pages
        id: deployment # 이 단계에 'deployment'라는 ID를 부여하여 위에서 URL을 참조할 수 있게 합니다
        uses: actions/deploy-pages@v4 # 공식 'deploy-pages' 액션 v4를 사용해 배포를 완료합니다.
